
.image {
    border-radius: 6px;
    max-width: 40vw;
    float: right;
    max-height: 550px;
}


code {
    background: #1a1414;
    color: #f0f0f0;
    padding: 5px;
    user-select: all;
    border-radius: 5px;
}
